@{
    ViewData["Title"] = "To-Do List System";
}

<div class="text-center">
    <h1 class="display-4">To-Do List System</h1>
    <p>Hi! Welcome to ToDo List system where you can add your daily tasks and be more productive</p>
    <p><a asp-area="" asp-controller="Tasks" asp-action="AddTask"><button class="btn btn-success">ADD NEW TASK</button></a></p>
</div>
